node_modules
**/node_modules
**/.next
**/dist
.git
.gitignore
**/.env
**/.env.*
!**/.env.example
apps/web/.env.local
_workspace
../_workspace
**/*.tsbuildinfo
.DS_Store
examples
**/.npmrc.bak
docs
**/coverage
**/*.md
!packages/**/README.md
